<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/menu.css" rel="stylesheet" type="text/css" />
  <script src="../static/js/jquery-1.11.3.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/utility.js"></script>
  <link rel="icon" type="image/png" href="../static/ico/favicon.png" />
  <title>IoT Home - {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block after_head %}{% endblock %}
  <script>
  $(document).ready(function () {
    //stick in the fixed 100% height behind the navbar but don't wrap it
    $('#slide-nav.navbar-inverse').after($('<div class="inverse" id="navbar-height-col"></div>'));
    $('#slide-nav.navbar-default').after($('<div id="navbar-height-col"></div>'));

    var toggler = '.navbar-toggle';
    var pagewrapper = '#page-content';
    var navigationwrapper = '.navbar-header';
    var menuwidth = '100%'; // the menu inside the slide menu itself
    var slidewidth = '80%';
    var menuneg = '-100%';
    var slideneg = '-80%';

    $("#slide-nav").on("click", toggler, function (e) {
        var selected = $(this).hasClass('slide-active');
        $('#slidemenu').stop().animate({
            left: selected ? menuneg : '0px'
        });
        $('#navbar-height-col').stop().animate({
            left: selected ? slideneg : '0px'
        });
        $(pagewrapper).stop().animate({
            left: selected ? '0px' : slidewidth
        });
        $(navigationwrapper).stop().animate({
            left: selected ? '0px' : slidewidth
        });
        $(this).toggleClass('slide-active', !selected);
        $('#slidemenu').toggleClass('slide-active');
        $('#page-content, .navbar, body, .navbar-header').toggleClass('slide-active');
    });

    if (!isMobile()) {
      var selected = '#slidemenu, #page-content, body, .navbar, .navbar-header';
      $(window).on("resize", function () {
          if ($(window).width() > 767 && $('.navbar-toggle').is(':hidden')) {
              $(selected).removeClass('slide-active');
          }
      });
    }

    var activeMenu = 'menu_home';
    var mobileTitle = 'Home';
    {% block ready_script %}{% endblock %}
    $(".nav").find(".active").removeClass("active");
    $(".nav").find("." + activeMenu).addClass("active");
    if (isMobile()) {
      $("a.navbar-brand").text("Linh's Home - " + mobileTitle);
    }
});
  </script>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="/">Linh's Home</a>
      </div>
      <div id="slidemenu">

        <form class="navbar-form navbar-right" role="form">
          <div class="form-group">
            <input type="search" placeholder="search" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <ul class="nav navbar-nav">
          <li class="active menu_home"><a href="{{ url_for('index') }}">Home</a></li>
          <li class="menu_control"><a href="{{ url_for('control') }}">Control</a></li>
          <li class="menu_manager"><a href="{{ url_for('manager') }}">Manager</a></li>
          {% if session.user_id %}
          <li class="menu_user"><a class="bnt" href="{{ url_for('profile') }}">{{ session.current_user.last_name }} {{ session.current_user.first_name }}</a></li>
          <li class="menu_login"><a class="bnt" href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li class="menu_login"><a class="bnt" href="{{ url_for('login') }}">Login</a></li>
          {% endif %}
          <!--
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          -->
        </ul>
      </div>
    </div>
  </div>

  <!--wrap the page content do not style this-->
  <div id="page-content">
    <div class="container" >
      {% block body_content %}{% endblock %}
    </div>
    <!-- /.container -->

  </div>
  <!-- /#page-content -->

</body>
</html>
